.container {
    margin-top: 4em;
    margin-right: 2em;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
}

img {
    width: 150px;
    height: auto;
}

.inputContainer {
    margin: 1rem 0 !important;
}

.gender {

}

.button_container {

}

.button_decline {

}

.button_save {

}
