.container {
    margin-top: 4em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    border-bottom: 1px solid lightgrey;
}

.user_image {
    width: 150px;
    height: auto;
    margin-left: 5em;
    margin-bottom: 1em;
}

.inputContainer {
    margin: 1rem 0 !important;
}

.gender {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.button_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2em;
}

#button_decline {
    width: 35%;
    background: darkgrey;
    color: black
}

#button_save {
    width: 35%;
    color: black;
}
