.container{
    position: relative;
    margin: 20vh auto 0 auto;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}