.game-container {
    position: relative;
    margin: 6em auto 0 auto;
    flex-direction: column;
    max-width: 280px;
}

.game-detail-img {
    width:  6rem;
    height: 6rem;
    float: left;
    margin: 0 1rem 1rem 0;
}

.game-detail-parameter-container{
    clear: both;
    list-style-type: none;
    padding: 0;
    font-size: 1.4rem;
}

.game-detail-parameter-container li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3rem;
}

.game-detail-parameter-container li svg{
    margin-right: 0.5rem;
}


